<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    {% load static %}
</head>
<body>
<form method="POST" class="post-form" action="/update/{{question.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-4">
        <label for="id_title"></label><input type="text" name="text" id="id_title" required maxlength="200" value="{{ question.title }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-4">
         <label for="id_description"></label><input type="text" name="description" id="id_description" required maxlength="400" value="{{ question.description }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Publication Date:</label>
    <div class="col-sm-4">
         <label for="id_pub_date"></label><input type="text" name="pub_date" id="id_pub_date" required maxlength="100" value="{{ question.pub_date }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Type</label>
    <div class="col-sm-4">
        <label for="id_type"></label><input type="text" name="type" id="id_type" required maxlength="200" value="{{ question.type }}" />
    </div>
    </div>
      <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class = "col-sm-4">
      <button type="submit" class="btn btn-success">Update</button>
    </div>
   </div>
    </div>
</form>
</body>
</html>